/gas/*.js     text eol=lf
/gas/**/*.js  text eol=lf

/web/qr/*.html    text eol=lf
/web/qr/**/*.html text eol=lf
/web/qr/*.css     text eol=lf
/web/qr/**/*.css  text eol=lf
/web/qr/*.js      text eol=lf
/web/qr/**/*.js   text eol=lf